/*==============================================================================================*

  +-----+-----+-----+-----+-----+-----+-----+
  | █▀▀ | ▄▀█ | █▀▀ | █▀▀ | ▄▀█ | █▀▄ | █▀▀ |
  | █▄▄ | █▀█ | ▄▄█ | █▄▄ | █▀█ | █▄▀ | ██▄ |
  +-----+-----+-----+-----+-----+-----+-----+

  Description:    Cascade is a minimalstic and keyboard centered custom theme removing a lot of the
                  subjective clutter default Firefox comes with. This theme is highly inspired by the
                  stylistic choices of SimpleFox by Miguel Ávila. 🦊
                  https://github.com/migueravila/SimpleFox

  Author:         Andreas Grafen
                  (https://andreas.grafen.info)

  Repository:     https://github.com/andreasgrafen/cascade
                  Thank you Nick, Abdallah, Benyamin and Wael for all the great suggestions for improvements! ♡

                  Nick:     https://github.com/nicksundermeyer
                  Abdallah: https://github.com/HeiWiper
                  Benyamin: https://github.com/benyaminl
                  Wael:     https://github.com/wael444

                  If you're looking for a **mouse-friendly** clone please check out Waterfall.
                  https://github.com/crambaud/waterfall

*==============================================================================================*/

@import "includes/cascade-config.css";
@import "includes/cascade-colours.css";

@import "includes/cascade-layout.css";
@import "includes/cascade-responsive.css";
@import "includes/cascade-floating-panel.css";

@import "includes/cascade-nav-bar.css";
@import "includes/cascade-tabs.css";

@import "integrations/tabcenter-reborn/cascade-tcr.css";
@import "integrations/side-view/cascade-sideview.css";
@import "integrations/dracula/cascade-dracula.css";

@import "includes/cascade-tweaks.css";

:root {
  --zen-primary-color: #d9d9d9 !important;
  --zen-colors-primary: var(--tab-loading-fill) !important;
  --zen-colors-secondary: var(--tab-loading-fill) !important;
  --toolbarbutton-icon-fill: var(--tab-loading-fill) !important;
}

:root:has(#theme-PywalZen[uc-pywalzen-darkness="default"]) {
  --zen-colors-tertiary: var(--lwt-accent-color) !important;
  --zen-main-browser-background: var(--lwt-accent-color) !important;
  --zen-themed-toolbar-bg: var(--lwt-accent-color) !important;
  --arrowpanel-background: var(--lwt-accent-color) !important;
  #urlbar[breakout-extend="true"] > #urlbar-background {
    background: var(--lwt-accent-color) !important;
  }
}

:root:has(#theme-PywalZen[uc-pywalzen-darkness="dark"]) {
  --zen-colors-tertiary: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 25%
  ) !important;
  --zen-main-browser-background: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 25%
  ) !important;
  --zen-themed-toolbar-bg: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 25%
  ) !important;
  --arrowpanel-background: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 25%
  ) !important;
  #urlbar[breakout-extend="true"] > #urlbar-background {
    background: color-mix(
      in srgb,
      var(--lwt-accent-color),
      black 25%
    ) !important;
  }
}

:root:has(#theme-PywalZen[uc-pywalzen-darkness="darker"]) {
  --zen-colors-tertiary: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 50%
  ) !important;
  --zen-main-browser-background: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 50%
  ) !important;
  --zen-themed-toolbar-bg: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 50%
  ) !important;
  --arrowpanel-background: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 50%
  ) !important;
  #urlbar[breakout-extend="true"] > #urlbar-background {
    background: color-mix(
      in srgb,
      var(--lwt-accent-color),
      black 50%
    ) !important;
  }
}

:root:has(#theme-PywalZen[uc-pywalzen-darkness="yet-darker"]) {
  --zen-colors-tertiary: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 75%
  ) !important;
  --zen-main-browser-background: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 75%
  ) !important;
  --zen-themed-toolbar-bg: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 75%
  ) !important;
  --arrowpanel-background: color-mix(
    in srgb,
    var(--lwt-accent-color),
    black 75%
  ) !important;
  #urlbar[breakout-extend="true"] > #urlbar-background {
    background: color-mix(
      in srgb,
      var(--lwt-accent-color),
      black 75%
    ) !important;
  }
}

:root:has(#theme-PywalZen[uc-pywalzen-darkness="pitch-black"]) {
  --zen-colors-tertiary: black !important;
  --zen-main-browser-background: black !important;
  --zen-themed-toolbar-bg: black !important;
  --arrowpanel-background: black !important;
  #urlbar[breakout-extend="true"] > #urlbar-background {
    background: black !important;
  }
}

#urlbar:not([focused="true"]):not([breakout-extend="true"])
  > #urlbar-background {
  background: color-mix(
    in srgb,
    light-dark(#fff, var(--zen-colors-secondary)) 35%,
    transparent 65%
  ) !important;
}

#commonDialogWindow {
  background-color: black !important;
}
